@model LojaSeven.Models.ComprasPesquisaViewModel;

@if(Model != null)
{
	foreach( var item in Model.Compras)
	{
		<tr>
			<td>@item.NomePessoa</td>
			<td>@item.NomeProduto</td>
			<td>@item.ValorProduto</td>
			<td>@item.TipoDoPagamento</td>
		</tr>
	}
}